# ignore text files with sensitive information
*.txt

# ignore keys and tokens
*.key
*.token

# ignore potentially heavy media
*.gif
*.mp4
*.jpg

# ignore python notebook checkpoints
*.ipynb_checkpoints
